---
layout: null
---

<!DOCTYPE html>
<html>
{% include head.html  param="../" %}
<title>FAQ - Last is me!</title>
<body>

  <div class="main-content clear-float padding20">

    <h1><a href="/">Last is me!</a> <small>Faq</small></h1>
    <br>
    <div class="grid">
      <div class="row ">
        <div class="cell" style="line-height: 1.25rem; max-width: 800px">

          {% for faq in site.data.faqs %}
          <a href="#{{ faq.id }}" class="nolink"><h2 id="{{ faq.id }}">{{ faq.title }}</h2></a>
          <hr class="{% cycle 'bg-red','bg-green','bg-blue'%}" style="margin-bottom:10px;">

          <div>
            {{ faq.content }}
          </div>
          <br>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <br><br>
  <div class="align-center" style="max-width: 800px">
    <a class="shortcut-button" href="..">
      <span class="icon mif-home"></span>
      <span class="title">Home</span>
    </a>
  </div>

  <br><br><br><br><br><br>
</div>

</body>
</html>
