---
layout: null
---

<!DOCTYPE html>
<html>
{% include head.html param="" %}
<title>Last is me!</title>
<body class="bg-darkCobalt">

  <div class="main-content clear-float">
    <div class="bg-darkCobalt no-margin padding10">
      <h1 class="fg-white">Last is me!</h1>
      <h4 class="fg-white  opacity7">Trustless, time based lottery <a href="{{ site.baseurl }}/faq/#howitworks">*</a></h4>

<pre class="fg-white opacity7">
parity --jsonrpc-cors='http://lastis.me'
</pre>

    </div>
    <div class="tile-area no-padding">
      <div class="tile-container bg-darkCobalt" >
        <div class="tile-wide bg-orange fg-white">
          <div class="align-center">
            <br>
            <h4 class="opacity7">Overall previous winnings</h4>

            <h1 class="biggerh1">
              <span class="icon mif-dollar2 v-align-bottom"></span>
              <span class="v-align-bottom" id="totalPreviousWinnings"></span>
            </h1>
          </div>
        </div>

        {% for game in site.data.games %}
        <div class="tile-large {{ game.bg }} {{ game.fg }}" data-role="tile"  onclick="showDialog('{{ game.contract }}')">
          <div class="align-center">

            <br>
            <div>
              <h4 class="opacity7"><span id="blockstime{{ game.contract }}" class="v-align-bottom"></span> <span class="v-align-bottom">/</span>
                <span class="icon mif-dollar2 v-align-bottom"></span> <span id="price{{ game.contract }}" class="v-align-bottom"></span>
              </h4>
              <h1>
                <span class="icon mif-dollar2 v-align-bottom"></span>
                <span class="v-align-bottom" id="jackpot{{ game.contract }}"></span>
              </h1>
              <div id="ccont{{ game.contract }}" class="margins">
                <div id="countdown{{ game.contract }}" class="countdown" data-background-color="{{ game.countdown }}" >
                </div>
              </div>
              <div class="identicon" style="margin-left: 123px;" id="identicon{{game.contract}}"></div>
              <h4><span id="winner{{ game.contract }}"></span></h4>
              <div id="previousWinnings{{game.contract}}"></div>
            </div>
          </div>
          </div>


          <div data-role="dialog" class="padding20 dialog" id="dialog{{ game.contract }}"	data-overlay="true"  data-overlay-color="op-dark" data-overlay-click-close="true"  data-background="{{ game.bg }}" data-color="{{ game.fg }}" >
            <h2 class="opacity7"><span id="pblockstime{{ game.contract }}"></span> ( <span id="pblocks{{ game.contract }}"></span> )</h2>
            <h2 class="opacity7"><span class="icon mif-dollar2"></span> <span id="pprice{{ game.contract }}"></span> ( Ξ <span id="petherprice{{ game.contract }}"></span> )</h2>

            <h2>
              Jackpot: <span class="icon mif-dollar2 v-align-bottom"></span>
              <span class="v-align-bottom" id="pjackpot{{ game.contract }}"> </span> /
              Ξ <span class="v-align-bottom" id="pjackpotether{{ game.contract }}"</span>
            </h2>
            <br>
            <div>
              <div id="pcountdown{{ game.contract }}" class="countdown" data-background-color="{{ game.countdown }}">
            </div>
            &nbsp;<span id="premainingblocks{{ game.contract }}"></span>
            </div>
            <br>
            <div class="padding10"> <!-- hideiflocal -->
              <div class="identicon" style="float:left" data-address="{{ game.contract }}"></div>
              <div class="padding10" style="margin-left:74px">Buy a ticket sending <span id="petherprice3{{ game.contract }}" ></span> ether to:</div>
              <div style="margin-left:84px"><span class="icon mif-key v-align-bottom"></span>&nbsp;&nbsp;<span class="tag">{{ game.contract }}</span>&nbsp;&nbsp;<span class="icon mif-qrcode v-align-bottom" onclick="qr('{{ game.contract }}')"></span></div>

            </div>
            <div class="padding10 hideifremote">
              <div style="margin-left:84px; margin-top:10px;">
                <span>Or press the button</span>&nbsp;&nbsp;
                <button class="button {{ game.opposite }} {{ game.fg }}" onclick="compra('{{ game.contract }}')">Buy ticket ( Ξ <span id="petherprice2{{ game.contract }}"></span> ) </button>
              </div>
            </div>
            <!--
            <div class="padding10 hideifremote">
              <div class="identicon" style="float:left" data-address="{{ game.contract }}"></div>

              <div style="margin-left:84px; margin-top:10px;"><span class="icon mif-key v-align-bottom"></span>&nbsp; {{ game.contract }}</div>
            </div>
            -->

            <br>
            <table class="table" id="main_table_demo">
              <thead>
                <tr>
                  <th class="fg-white">Date</th>
                  <th class="fg-white">Winner</th>
                  <th class="fg-white align-right">Amount</th>
                </tr>
              </thead>
              <tbody id="ptablebody{{ game.contract }}">


              </tbody>
            </table>

            <a href="http://etherscan.io/address/{{ game.contract }}#code">verified code</a>
          </div>

        {% endfor %}

        <a href="{{ site.baseurl }}/faq">
          <div class="tile bg-green fg-white" data-role="tile">
            <div class="tile-content iconic">
              <span class="icon mif-question "></span>

              <span class="tile-label">Faq</span>
            </div>
          </div>
        </a>

        <a href="https://twitter.com/{{ site.twitter_username }}">
          <div class="tile-small bg-cyan fg-white" >
            <div class="tile-content iconic">
              <span class="icon mif-twitter"></span>
            </div>
          </div>
        </a>
        <!--<div class="tile-small bg-darkBlue fg-white" data-role="tile">
          <div class="tile-content iconic">
            <span class="icon mif-facebook"></span>
          </div>
        </div>-->
        <a href="{{ site.github.repo }}">
          <div class="tile-small bg-darkViolet fg-white" data-role="tile">
            <div class="tile-content iconic">
              <span class="icon mif-github"></span>
            </div>
          </div>
        </a>

        <a href="#" id="refreshButton">
          <div class="tile-small bg-amber fg-white" data-role="tile">
            <div class="tile-content iconic">
              <span class="icon mif-loop2"></span>
            </div>
          </div>
        </a>

        <a href="/video">
          <div class="tile-small bg-darkRed fg-white" data-role="tile">
            <div class="tile-content iconic">
              <span class="icon mif-play"></span>
            </div>
          </div>
        </a>
        <!--<div class="tile-small bg-red fg-white" data-role="tile">
          <div class="tile-content iconic">
            <span class="icon mif-google"></span>
          </div>
        </div>-->
      </div>
    </div>
    <div class="bg-darkCobalt no-margin padding10 align-center">
      <p class="fg-white opacity7"><span id="provider"></span> #<span id="blockNumber"></span> <a href="{{ site.baseurl }}/faq/#whatsfooter">*</a></p><br>
    </div>
  </div>
  <script id="cid0020000120952032876" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 311px;height: 277px;">{"handle":"lastisme","arch":"js","styles":{"a":"f2a207","b":100,"c":"FFFFFF","d":"FFFFFF","k":"f2a207","l":"f2a207","m":"f2a207","n":"FFFFFF","p":"10","q":"f2a207","r":100,"pos":"br","cv":1,"cvbg":"f2a207","cvw":200,"cvh":30,"ticker":1,"fwtickm":1}}</script>
  <div data-role="dialog" id="qrdialog" class="padding20 dialog" data-close-button="true" style="width: auto; height: auto; visibility: visible; left: 0px; top: 0px;">
      <img id="qrimg" width="280px" height="280px">
      <div id="qraddress"></div>
  <span class="dialog-close-button"></span></div>
</body>

</html>
